:root {
    --app-background: #adbdba;
    --app-card-background: rgb(232, 231, 225);
    --app-footer-background: #363c4f;
    --app-dark-text-color: #363c4f;
    --app-dark-button: #363c4f;
    --app-dark-button-hover: #363c4fa5;
}